// @import "bootstrap-sprockets";
// @import "bootstrap";
.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }

  .dot-bigger {
    height: 80px;
    width: 80px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }

  .azul{background-color: #0d47a1;}
  .branca{
    background-color: #ffffff;
    border:1px solid #cacaca;
  }
  .preta{background-color: #000000;}
  .roxa{background-color: #673ab7;}
  .rosa{background-color: #880e4f;}
  .amarela{background-color: #ffd600;}
  .laranja{background-color: #f4511e;}
  .verde{background-color: #1b5e20;}
  .vermelha{background-color: #b71c1c;}
